---

---
<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Quantifind - The Knowledge to Act</title>
  <link rel="stylesheet" href="/css/normalize.css"></link>
  <link rel="stylesheet" href="/css/proxima.css"></link>
  <link rel="stylesheet" href="/css/style.css"></link>
</head>
<body>
	<header>
		<h1 class="ir">
			<span>Quantifind</span>
			<span>The Knowledge to Act</span>
		</h1>
		<nav>
			<ul>
				<li><a href="#where-we-are">Where We Are</a></li>
				<li><a href="#who-we-are">Who We Are</a></li>
				<li><a href="#work-with-us">Work With Us</a></li>
			</ul>
		</nav>
	</header>
	<nav class="secondary-nav">
		<ul>
			<li class="customer-login"><a href="https://q.quantifind.com">Customer Login</a></li>
			<li class="tech-blog"><a href="http://blog.quantifind.com">Tech Blog</a></li>
		</ul>
	</nav>
	<div class="content">
		<section class="where-we-are">
			<a name="where-we-are"></a>
			<img src="/images/map.svg"/>
			<div class="vcard">
			<p class="org">Quantifind</p>
			<p class="adr">
				<span class="street-address">100 Middlefield Road</span><br>
				<span class="street-address">Suite 200</span><br>
				<span class="locality">Menlo Park,</span> <abbr class="region" title="California">CA</abbr> <span class="postal-code">94025</span>
			</p>
			<p class="email">
				<a href="mailto:info@quantifind.com">info@quantifind.com</a><br/>
				<a target="_BLANK" href="https://maps.google.com/maps?q=100+Middlefield+Road+Menlo+Park,+CA+94025">Google Map</a>
			</p>
			</div>
		</section>
		<section>
			<a name="who-we-are"></a>
			{% for post in site.categories.who-we-are limit:1 %}
				{{ post.content }}
			{% endfor %}
		</section>
		<section>
			<a name="work-with-us"></a>
			{% for post in site.categories.work-with-us limit:1 %}
				{{ post.content }}
			{% endfor %}
			
			Current Openings:
			<ul>
			{% for post in site.categories.role %}
				<li><a href="#{{post.id}}">{{ post.title}}</a></li>
			{% endfor %}
			</ul>
			{% for post in site.categories.coming-soon limit:1 %}
				{{ post.content }}
			{% endfor %}
			
			{% for post in site.categories.role %}
				<article>
					<header>
						<a name="{{post.id}}"></a>
						<h3>{{ post.title}}</h3>
						<p>Menlo Park, CA Headquarters</p>
					</header>
					{{ post.content }}
				</article>
			{% endfor %}
		</section>
	</div>
	<footer>
		Copyright © 2013 Quantifind, Inc. All Rights Reserved
	</footer>
	<script type="text/javascript">
		(function init(){
			var mapContainer,
				mapZeroOpacityOffset = 800;
			
			var fixDotAlignment = function(){
				mapContainer.style.zoom=1;
				var w = mapContainer.getBoundingClientRect().width;
				if(w%1>=0.9){mapContainer.style.zoom=0.992}
			};
			
			var between0and1 = function(val){return Math.max(Math.min(1,val),0)}
			
			var fadeMapByScrollPosition = function(){
				var t = window.pageYOffset/mapZeroOpacityOffset;
				var d = 1;
				var root =  Math.pow(1-(t / d), 3);
				var result = root;
				mapContainer.style.opacity = between0and1(result);
			};
			
			window.addEventListener("load", function(){
				mapContainer = document.querySelector(".where-we-are");
				mapZeroOpacityOffset = window.getComputedStyle(mapContainer).height.match(/\d*/)*1
				fixDotAlignment();
				window.onresize = fixDotAlignment;
				fadeMapByScrollPosition();
				window.onscroll = fadeMapByScrollPosition;
			}, false);
		})();
	</script>
</body>
</head>