---

---
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1100, initial-scale=1, maximum-scale=1">
	<title>Quantifind - The Knowledge to Act</title>
	<link rel="stylesheet" href="/css/normalize.css"></link>
	<link rel="stylesheet" href="/css/proxima.css"></link>
	<link rel="stylesheet" href="/css/style.css"></link>
</head>
<body>
	<header>
		<svg id="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="162px" viewBox="-38.5 -37 165 162" enable-background="new -38.5 -37 165 162" xml:space="preserve">
				<g>
					<g>
						<circle fill="#FFFFFF" cx="65.75" cy="-5.3" r="9.5"/>
						<circle fill="#FFFFFF" cx="43.75" cy="-27.3" r="9.5"/>
						<circle fill="#FFFFFF" cx="87.75" cy="16.7" r="9.5"/>
						<circle fill="#FFFFFF" cx="65.75" cy="38.7" r="9.5"/>
						<circle fill="#FFFFFF" cx="43.75" cy="60.7" r="9.5"/>
						<circle fill="#FFFFFF" cx="21.75" cy="38.7" r="9.5"/>
						<circle fill="#FFFFFF" cx="-0.25" cy="16.7" r="9.5"/>
						<circle fill="#FFFFFF" cx="21.75" cy="-5.3" r="9.5"/>
						<circle fill="#8DC63F" cx="43.75" cy="16.7" r="9.5" stroke="#231F20" stroke-width="1" stroke-opacity="0.6"/>
						<circle fill="#8DC63F" cx="87.75" cy="60.7" r="9.5" stroke="#231F20" stroke-width="1" stroke-opacity="0.6"/>
					</g>
					<g id="logo-text" >
						<path fill="#FFFFFF" d="M-24.188,122.615c-1.424,1.081-3.473,1.704-5.217,1.704c-4.942,0-9.029-3.954-9.029-8.94
							c0-4.966,4.087-8.985,9.029-8.985c5.008,0,9.033,4.065,9.033,9.031c0,2.415-0.873,4.366-2.507,6.113l2.599,2.643h-2.462
							L-24.188,122.615z M-24.208,120.158c1.283-1.355,1.904-2.94,1.904-4.801c0-3.953-3.124-7.172-7.101-7.172
							s-7.101,3.241-7.101,7.172c0,3.905,3.171,7.168,7.101,7.168c1.283,0,2.804-0.483,3.859-1.285l-4.18-4.207h2.527L-24.208,120.158z"
							/>
						<path fill="#FFFFFF" d="M-13.566,117.012c0,1.286-0.045,2.753,0.758,3.861c0.758,1.057,2.23,1.652,3.492,1.652
							c1.242,0,2.599-0.574,3.4-1.538c0.919-1.104,0.853-2.622,0.853-3.976v-10.319h1.931v10.846c0,1.883-0.139,3.381-1.516,4.801
							c-1.195,1.291-2.92,1.98-4.668,1.98c-1.629,0-3.309-0.623-4.479-1.773c-1.52-1.443-1.703-3.033-1.703-5.008v-10.846h1.932V117.012
							z"/>
						<path fill="#FFFFFF" d="M5.189,119.099L3.1,124.02H0.98l8.002-18.158l7.787,18.158h-2.133l-2.049-4.921H5.189z M8.936,110.366
							l-2.964,6.943h5.862L8.936,110.366z"/>
						<path fill="#FFFFFF" d="M21.069,105.956l13.519,14.156v-13.42h1.93V124.8l-13.514-14.133v13.353h-1.935V105.956z"/>
						<path fill="#FFFFFF" d="M47.021,124.02H45.09v-15.533h-4.182v-1.794H51.25v1.794h-4.229V124.02z"/>
						<path fill="#FFFFFF" d="M57.504,124.02h-1.928v-17.327h1.928V124.02z"/>
						<path fill="#FFFFFF" d="M68.695,110.504v2.897h4.941v3.816h-4.941v6.802h-4.502v-17.327h9.947v3.812H68.695z"/>
						<path fill="#FFFFFF" d="M83.453,124.02h-4.506v-17.327h4.506V124.02z"/>
						<path fill="#FFFFFF" d="M88.695,106.692h4.502l8.25,10.596h0.045v-10.596h4.506v17.327h-4.506l-8.248-10.618h-0.047v10.618h-4.502
							V106.692z"/>
						<path fill="#FFFFFF" d="M111.244,106.692h6.389c4.824,0,8.801,3.793,8.801,8.665c0,4.87-4,8.662-8.801,8.662h-6.389V106.692z
							 M115.744,120.202h1.016c2.688,0,4.984-1.47,4.984-4.845c0-3.104-2.043-4.854-4.943-4.854h-1.057V120.202z"/>
					</g>
				</g>
			</svg>
		<h1 class="ir">
			<span>Quantifind</span>
			<span id="logo-tagline">The Knowledge to Act</span>
		</h1>
		<nav class="primary-nav">
			<ul>
				<li><a href="#where-we-are">Where We Are</a></li>
				<li><a href="#who-we-are">Who We Are</a></li>
				<li><a href="#work-with-us">Work With Us</a></li>
			</ul>
		</nav>
	</header>
	<nav class="secondary-nav">
		<ul>
			<li class="customer-login"><a href="https://q.quantifind.com">Customer Login</a></li>
			<li class="tech-blog"><a href="http://blog.quantifind.com">Tech Blog</a></li>
		</ul>
	</nav>
	<a name="where-we-are"></a>
	<div class="content">
		<section class="where-we-are">
			<img src="/images/map.svg"/>
			<div class="vcard">
			<p class="org">Quantifind</p>
			<p class="adr">
				<span class="street-address">100 Middlefield Road</span><br>
				<span class="street-address">Suite 200</span><br>
				<span class="locality">Menlo Park,</span> <abbr class="region" title="California">CA</abbr> <span class="postal-code">94025</span>
			</p>
			<p class="email">
				<a target="_BLANK"  href="mailto:info@quantifind.com">info@quantifind.com</a><br/>
				<a target="_BLANK" href="https://maps.google.com/maps?q=100+Middlefield+Road+Menlo+Park,+CA+94025">Google Map</a>
			</p>
			</div>
		</section>
		<section>
			<a name="who-we-are"></a>
			{% for post in site.categories.who-we-are limit:1 %}
				{{ post.content }}
			{% endfor %}
		</section>
		<section class="work-with-us">
			<a name="work-with-us"></a>
			<header>
			{% for post in site.categories.work-with-us limit:1 %}
				{{ post.content }}
			{% endfor %}
			</header>
			
			<p class="current-openings">Current Openings:</p>
			<div class="job-list">
				<ul>
				{% for post in site.categories.role %}
					<li><a href="#{{post.id}}">{{ post.title}}</a></li>
				{% endfor %}
				</ul>
				{% for post in site.categories.coming-soon limit:1 %}
					{{ post.content }}
				{% endfor %}
			</div>
			
			{% for post in site.categories.role %}
				<article class="job-post">
					<header>
						<a name="{{post.id}}"></a>
						<h3 class="post-title">{{ post.title}}</h3>
						<p class="post-location">Menlo Park, CA Headquarters</p>
					</header>
					{{ post.content }}
					<footer>
						<p>Ready to join our team? <a target="_BLANK" href="mailto:jobs@quantifind.com?subject=Re:{{ post.title}}">Send us your resume.</a></p>
					</footer>
				</article>
			{% endfor %}
		</section>
	</div>
	<footer>
		Copyright © 2013 Quantifind, Inc. All Rights Reserved
	</footer>
	<script type="text/javascript">
		(function init(){
			var mapContainer,
				logoText,
				logoTagline,
				mapZeroOpacityOffset = 800,
				requestAnimationFramePolyFill = function(fn){
					window.setTimeout(function(){
						fn(Date.now());
					},1);
				},
				requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame||requestAnimationFramePolyFill,
				cancelAnimationFrame = window.cancelAnimationFrame || window.webkitCancelAnimationFrame || window.mozCancelAnimationFrame || window.oCancelAnimationFrame || function(id){window.clearTimeout(id);};
			
			
			var openComingSoonMailToLinksInANewWindow = function(){
				var links = document.querySelectorAll(".job-list a");
				for(var i in links){
					links[i].setAttribute && links[i].setAttribute("target","_BLANK");
				}
			}
			
			
			var fixDotAlignment = function(){
				mapContainer.style.zoom=1;
				var w = mapContainer.getBoundingClientRect().width;
				if(w%1>=0.9){mapContainer.style.zoom=0.992}
			};
			
			var between0and1 = function(val){return Math.max(Math.min(1,val),0)}
			
			var fadeMapByScrollPosition = function(forceZeroDraw){
				var y = currentOffset();
				if(y!==0 || forceZeroDraw===true){
					_delayedZeroFade && cancelAnimationFrame(_delayedZeroFade);
					_delayedZeroFade=false;
					var t = y/mapZeroOpacityOffset;
					var d = 1;
					var root =  Math.pow(1-(t / d), 3);
					var result = root;
					mapContainer.style.opacity = between0and1(result);
				}else if(_delayedZeroFade===false){
					_delayedZeroFade = requestAnimationFrame(function(){
						fadeMapByScrollPosition(true)
					},20);
				}
			};
			var _delayedZeroFade=false;
			
			
			var easeInOutQuad = function(t, b, c, d){
				t /= d/2;
				if (t < 1) return c/2*t*t + b;
				t--;
				return -c/2 * (t*(t-2) - 1) + b;
			}
			var easeInQuad = function (t, b, c, d) {
				t /= d;
				return c*t*t + b;
			};
			
			
			var runLogoAnimation = function(onDone){
				var start;
				var circles = document.querySelectorAll('svg#logo circle');
				var duration=2100;
				var overlapFactorA = 4.8;
				var overlapFactorB = overlapFactorA-1;
				var perDotDuration=overlapFactorA*duration/(overlapFactorB+circles.length);
				var perDotOffset=perDotDuration/overlapFactorA;
				
				function step(timestamp) {
				  if(typeof start==="undefined"){start=timestamp}
				  var tick = timestamp - start;
				  for(var i=0; i<circles.length; i++){
					var easedOffset = easeInQuad(i+1, 0, perDotOffset*circles.length, circles.length)
					var startTick = easedOffset;
					var endTick = startTick+perDotDuration;
					if(tick>=startTick && tick<=endTick){
						var progress = (tick-startTick);
						var opacity = easeInOutQuad(progress, 0, 1, perDotDuration);
						circles[i].style.opacity=opacity;
					}
				  };
				  if (tick < duration) {
					requestAnimationFrame(step);
				  }else{
					for(var i=0; i<circles.length; i++){
						circles[i].style.opacity=1;
					}
					onDone && onDone();
				  }
				}
				for(var i=0; i<circles.length; i++){
					circles[i].style.opacity=0;
				}
				requestAnimationFrame(step);
			};
			
			var runLogoTextAnimation = function(onDone){
				var start;
				var duration=800;
				function step(timestamp) {
					if(typeof start==="undefined"){start=timestamp}
					var tick = timestamp - start;
					var pos = Math.round(easeInOutQuad(tick, 0, 10, duration));
					logoText.style.opacity=pos/10;
					logoTagline.style.opacity=pos/10;
					if (tick < duration) {
						requestAnimationFrame(step);
					}else{
						logoText.style.opacity=1;
						onDone && onDone();
					}
				}
				requestAnimationFrame(step);
			};
			
			var fadeInContent = function(){
				document.body.className = document.body.className.replace("reveal","");
			};
			
			
			var offsetTop = function (elem) {
				var gy = elem.offsetTop
				if (elem.offsetParent) while (elem = elem.offsetParent) gy += elem.offsetTop
				return gy
			}
			
			var currentOffset = function(){
				return (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
			}
			
			function docHeight() {
				return Math.max(
					Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
					Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
					Math.max(document.body.clientHeight, document.documentElement.clientHeight)
				);
			}

			window.x = easeInOutQuad;
			var animateScroll = function(elem){
				_animateScrollEvt && cancelAnimationFrame(_animateScrollEvt);
				var start;
				var duration=600;
				var topBuffer=40;
				
				var startY = currentOffset();
				var endY = offsetTop(elem)-topBuffer;
				endY = Math.min(endY, docHeight() - window.innerHeight);
				
				function step(timestamp) {
					if(typeof start==="undefined"){start=timestamp}
					var from = Math.min(startY, endY);
					var to = Math.max(startY, endY);
					var tick = timestamp - start;
					var currentTick = startY<=endY?tick:Math.max(0,duration-tick);
					var delta = easeInOutQuad(currentTick, 0, 1, duration);
					var y = from + (to-from)*delta;
					window.scrollTo(0,Math.round(y))
					if (tick <= duration) {
						_animateScrollEvt = requestAnimationFrame(step);
					}
				}
				_animateScrollEvt = requestAnimationFrame(step);
			};
			var _animateScrollEvt;
			
			var disableScrollToTargetEvent = function(){
				var links = document.querySelectorAll("a[href]");
				for(var i in links){
					var link = links[i];
					if(link.getAttribute){
						var href = ""+link.getAttribute("href");
						if(href.indexOf('#')===0){
							link.onclick=(function(href){return function(){
								history && history.pushState && history.pushState(null, null, href);
								var a = href.replace(/^#/,"");
								animateScroll(document.querySelector("a[name='"+a+"']"));
								window.location.hash=href;
								return false;
							}})(href);
						}
					}
					
				}
			};
			
			
			window.addEventListener("load", function(){
				disableScrollToTargetEvent();
				openComingSoonMailToLinksInANewWindow();
				mapContainer = document.querySelector(".where-we-are");
				logoText = document.getElementById('logo-text');
				logoTagline = document.getElementById('logo-tagline');
				mapZeroOpacityOffset = window.getComputedStyle(mapContainer).height.match(/\d*/)*1
				fixDotAlignment();
				window.onresize = fixDotAlignment;
				fadeMapByScrollPosition();
				window.onscroll = fadeMapByScrollPosition;
				logoText.style.opacity=0;
				logoTagline.style.opacity=0;
				runLogoAnimation(function(){runLogoTextAnimation(fadeInContent)});
			}, false);
			
			
			if(window.location.hash===""||window.location.hash==="#"){
				document.body.className+="reveal";
			}
			
		})();
		
		
		
	</script>
	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19785042-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</head>