---

---
<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Quantifind - The Knowledge to Act</title>
  <link rel="stylesheet" href="/css/normalize.css"></link>
  <link rel="stylesheet" href="/css/proxima.css"></link>
  <link rel="stylesheet" href="/css/style.css"></link>
</head>
<body>
	<header>
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="165px" height="162px" viewBox="-38.5 -37 165 162" enable-background="new -38.5 -37 165 162" xml:space="preserve">
				<g>
					<g>
						<circle id="dot" fill="#231F20" cx="87.75" cy="60.7" r="10"/>
						<circle fill="#231F20" cx="43.75" cy="16.7" r="10"/>
						<circle fill="#FFFFFF" cx="43.75" cy="-27.3" r="9.5"/>
						<circle fill="#FFFFFF" cx="21.75" cy="-5.3" r="9.5"/>
						<circle fill="#FFFFFF" cx="-0.25" cy="16.7" r="9.5"/>
						<circle fill="#8DC63F" cx="43.75" cy="16.7" r="9"/>
						<circle fill="#FFFFFF" cx="21.75" cy="38.7" r="9.5"/>
						<circle fill="#FFFFFF" cx="43.75" cy="60.7" r="9.5"/>
						<circle fill="#FFFFFF" cx="65.75" cy="-5.3" r="9.5"/>
						<circle fill="#FFFFFF" cx="87.75" cy="16.7" r="9.5"/>
						<circle fill="#FFFFFF" cx="65.75" cy="38.7" r="9.5"/>
						<circle fill="#8DC63F" cx="87.75" cy="60.7" r="9"/>
					</g>
					<g>
						<path fill="#FFFFFF" d="M-24.188,122.615c-1.424,1.081-3.473,1.704-5.217,1.704c-4.942,0-9.029-3.954-9.029-8.94
							c0-4.966,4.087-8.985,9.029-8.985c5.008,0,9.033,4.065,9.033,9.031c0,2.415-0.873,4.366-2.507,6.113l2.599,2.643h-2.462
							L-24.188,122.615z M-24.208,120.158c1.283-1.355,1.904-2.94,1.904-4.801c0-3.953-3.124-7.172-7.101-7.172
							s-7.101,3.241-7.101,7.172c0,3.905,3.171,7.168,7.101,7.168c1.283,0,2.804-0.483,3.859-1.285l-4.18-4.207h2.527L-24.208,120.158z"
							/>
						<path fill="#FFFFFF" d="M-13.566,117.012c0,1.286-0.045,2.753,0.758,3.861c0.758,1.057,2.23,1.652,3.492,1.652
							c1.242,0,2.599-0.574,3.4-1.538c0.919-1.104,0.853-2.622,0.853-3.976v-10.319h1.931v10.846c0,1.883-0.139,3.381-1.516,4.801
							c-1.195,1.291-2.92,1.98-4.668,1.98c-1.629,0-3.309-0.623-4.479-1.773c-1.52-1.443-1.703-3.033-1.703-5.008v-10.846h1.932V117.012
							z"/>
						<path fill="#FFFFFF" d="M5.189,119.099L3.1,124.02H0.98l8.002-18.158l7.787,18.158h-2.133l-2.049-4.921H5.189z M8.936,110.366
							l-2.964,6.943h5.862L8.936,110.366z"/>
						<path fill="#FFFFFF" d="M21.069,105.956l13.519,14.156v-13.42h1.93V124.8l-13.514-14.133v13.353h-1.935V105.956z"/>
						<path fill="#FFFFFF" d="M47.021,124.02H45.09v-15.533h-4.182v-1.794H51.25v1.794h-4.229V124.02z"/>
						<path fill="#FFFFFF" d="M57.504,124.02h-1.928v-17.327h1.928V124.02z"/>
						<path fill="#FFFFFF" d="M68.695,110.504v2.897h4.941v3.816h-4.941v6.802h-4.502v-17.327h9.947v3.812H68.695z"/>
						<path fill="#FFFFFF" d="M83.453,124.02h-4.506v-17.327h4.506V124.02z"/>
						<path fill="#FFFFFF" d="M88.695,106.692h4.502l8.25,10.596h0.045v-10.596h4.506v17.327h-4.506l-8.248-10.618h-0.047v10.618h-4.502
							V106.692z"/>
						<path fill="#FFFFFF" d="M111.244,106.692h6.389c4.824,0,8.801,3.793,8.801,8.665c0,4.87-4,8.662-8.801,8.662h-6.389V106.692z
							 M115.744,120.202h1.016c2.688,0,4.984-1.47,4.984-4.845c0-3.104-2.043-4.854-4.943-4.854h-1.057V120.202z"/>
					</g>
				</g>
			</svg>
		<h1 class="ir">
			<span>Quantifind</span>
			<span>The Knowledge to Act</span>
		</h1>
		<nav>
			<ul>
				<li><a href="#where-we-are">Where We Are</a></li>
				<li><a href="#who-we-are">Who We Are</a></li>
				<li><a href="#work-with-us">Work With Us</a></li>
			</ul>
		</nav>
	</header>
	<nav class="secondary-nav">
		<ul>
			<li class="customer-login"><a href="https://q.quantifind.com">Customer Login</a></li>
			<li class="tech-blog"><a href="http://blog.quantifind.com">Tech Blog</a></li>
		</ul>
	</nav>
	<div class="content">
		<section class="where-we-are">
			<a name="where-we-are"></a>
			<img src="/images/map.svg"/>
			<div class="vcard">
			<p class="org">Quantifind</p>
			<p class="adr">
				<span class="street-address">100 Middlefield Road</span><br>
				<span class="street-address">Suite 200</span><br>
				<span class="locality">Menlo Park,</span> <abbr class="region" title="California">CA</abbr> <span class="postal-code">94025</span>
			</p>
			<p class="email">
				<a href="mailto:info@quantifind.com">info@quantifind.com</a><br/>
				<a target="_BLANK" href="https://maps.google.com/maps?q=100+Middlefield+Road+Menlo+Park,+CA+94025">Google Map</a>
			</p>
			</div>
		</section>
		<section>
			<a name="who-we-are"></a>
			{% for post in site.categories.who-we-are limit:1 %}
				{{ post.content }}
			{% endfor %}
		</section>
		<section>
			<a name="work-with-us"></a>
			{% for post in site.categories.work-with-us limit:1 %}
				{{ post.content }}
			{% endfor %}
			
			Current Openings:
			<ul>
			{% for post in site.categories.role %}
				<li><a href="#{{post.id}}">{{ post.title}}</a></li>
			{% endfor %}
			</ul>
			{% for post in site.categories.coming-soon limit:1 %}
				{{ post.content }}
			{% endfor %}
			
			{% for post in site.categories.role %}
				<article>
					<header>
						<a name="{{post.id}}"></a>
						<h3>{{ post.title}}</h3>
						<p>Menlo Park, CA Headquarters</p>
					</header>
					{{ post.content }}
				</article>
			{% endfor %}
		</section>
	</div>
	<footer>
		Copyright © 2013 Quantifind, Inc. All Rights Reserved
	</footer>
	<script type="text/javascript">
		(function init(){
			var mapContainer,
				mapZeroOpacityOffset = 800;
			
			var fixDotAlignment = function(){
				mapContainer.style.zoom=1;
				var w = mapContainer.getBoundingClientRect().width;
				if(w%1>=0.9){mapContainer.style.zoom=0.992}
			};
			
			var between0and1 = function(val){return Math.max(Math.min(1,val),0)}
			
			var fadeMapByScrollPosition = function(){
				var t = window.pageYOffset/mapZeroOpacityOffset;
				var d = 1;
				var root =  Math.pow(1-(t / d), 3);
				var result = root;
				mapContainer.style.opacity = between0and1(result);
			};
			
			window.addEventListener("load", function(){
				mapContainer = document.querySelector(".where-we-are");
				mapZeroOpacityOffset = window.getComputedStyle(mapContainer).height.match(/\d*/)*1
				fixDotAlignment();
				window.onresize = fixDotAlignment;
				fadeMapByScrollPosition();
				window.onscroll = fadeMapByScrollPosition;
			}, false);
		})();
	</script>
</body>
</head>